.box{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: dotted red 5px;
    align-items: center;
    justify-content: center;
   
   
}
.circle{
    background-color: rgb(71, 22, 179);
    height: 100px;
    width: 100px;
    border-radius: 50%;   
   
}
.square{
    background-color: rgb(210, 25, 44);
    height: 60px;
    width: 40px;
}

#box1{
    background-color: azure;
    height: 200px;
    width: 100px;
}
h1{
    background-color: rgb(240, 70, 194);
    color: rgb(246, 240, 242);
}
body{
    background-color: blue;
}